*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}
li {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    color: inherit;
    text-decoration: none !important;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
    background: #101322;
    color: #fff;
}

.container {
    /* max-width: 1330px; */
    padding: 0 15px;
    /* margin-left: 245px; */
    width: 100%;
    display: block;
}

.body_wrap {
    display: flex;
    align-items: flex-start;
    justify-content: normal;
    width: 100%;
    height: 100%;
}
.more_btn {
    width: 20%;
    padding: 15px;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    background: #101322;
    color: #ddd;
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    cursor: pointer;
}
.more_btn:hover {
    background: hsla(0, 0%, 100%, 0.1);
    color: #ddd;
    transition: 0.3s ease all;
}

.body_wrap .con {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.header {
    width: 100%;
    background: #101322;
    /* padding: 20px; */
    width: 15%;
    min-width: 230px;
    background: #101322;
    height: 100%;
    border-right: 1px solid hsla(0, 0%, 100%, 0.1);
    z-index: 10;
    /* transition: 0.3s ease all; */
}
.header.fold {
    /* transition: 0.1s ease all; */
    width: 100%;
    background: #101322;
    /* padding: 20px; */
    width: 5%;
    min-width: 10px;
    background: #101322;
    height: 100%;
    border-right: 1px solid hsla(0, 0%, 100%, 0.1);
    z-index: 10;
}
.con_header {
    /* border-bottom: 1px solid hsla(0, 0%, 100%, 0.1); */
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.con_header .logo {
    width: 80px;
    margin-right: 20px;
}
.con_header .login_btn {
    background: transparent;
    color: #ddd;
    border: 0;
}
.con_header .logout_btn {
    background: transparent;
    color: #ddd;
    border: 0;
}
.header a.logo {
    width: auto;
    color: #fff;
    font-weight: 800;
    font-size: 0px;
    /* margin-right: 30px; */
    display: block;
}
.header_top {
    display: flex;
    align-items: center;
    justify-content: normal;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    padding-bottom: 25px;
    padding: 8px 8px 8px 20px;
}
.header_top button {
    color: #999;
    background: transparent;
    border: 0;
    font-size: 30px;
    cursor: pointer;
}
/* .header a.logo .gra {
    background: linear-gradient(to top right, #9df1c8 0%, #98e8d4 49%, #9df1c8 100%);
    background-clip: text;
    color: transparent;
    font-size: 50px;
    display: block;
} */
.header a img {
    display: block;
    max-width: 80px;
}
.header .nav {
    /* display: flex;
    align-items: center;
    justify-content: normal;
    gap: 5%; */
    /* width: 50%; */
}
.header .nav a {
    color: #999;
    font-weight: 600;
    font-size: 18px;
    /* margin-top: 25px; */
    padding: 20px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: normal;
    gap: 10px;
}
.header.fold .nav a {
    font-size: 0;
}
.header .nav a img {
    width: 28px;
}
.header .nav a:hover {
    color: #ddd;
}
.header .header_right {
    /* position: absolute;
    top: 50%;
    right: 15px;
    width: 17%;
    transform: translateY(-50%); */
}

.header .header_right .login_btn {
    background: transparent;
    border: 0;
    color: #999;
    cursor: pointer;
    font-size: 16px;
    /* font-weight: 600; */
    text-align: left;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    /* width: 50%; */
}
.header .header_right .logout {
    display: flex;
    align-items: center;
    justify-content: normal;
    gap: 3%;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}
.header .header_right .logout_btn {
    background: transparent;
    border: 0;
    color: #999;
    cursor: pointer;
    font-size: 16px;
    /* font-weight: 600; */
    text-align: left;
    width: 100%;
    padding: 15px 0;

    /* width: 50%; */
}

.header .movie_list {
    width: 100%;
    margin: 100px 0;
}
.movie_list ul {
    display: flex;
    align-items: flex-start;
    justify-content: normal;
    flex-wrap: wrap;
    gap: 5%;
}
.movie_list ul li {
    display: block;
    width: 20%;
    margin-bottom: 7%;
}
.movie_list ul li .movie_title {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
}
.movie_list ul li .movie_date {
    font-size: 15px;
    color: #555;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}
.movie_list ul li .poster {
    display: block;
    border-radius: 15px;
    width: 100%;
    height: 360px;
    position: relative;
}
.movie_list ul li .poster .movie_hover {
    transition: 0.3 ease all;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0;
}
.movie_list ul li .poster .movie_hover a {
    text-align: center;
    line-height: 160%;
    transform: translateX(-100%);
    transition: 0.3s ease all;
}
.movie_list ul li .poster.mouseOn .movie_hover a {
    text-align: center;
    line-height: 160%;
    transform: translateX(0%);
    transition: 0.3s ease all;
}

.movie_list ul li .poster.mouseOn .movie_hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 1;
    transition: 0.3s ease all;
}

.movie_list ul li .poster img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.movie_list ul li .movie_average {
    position: absolute;
    bottom: -5%;
    left: -8%;
    background: #fff;
    border-radius: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    color: #333;
    border: 3px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom right, #81fbb8, #b5fffc, #28c76f);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.main_movie_list {
    width: 90%;
    margin: 30px 0px 70px 0px;
    position: relative;
    margin-left: 4%;
}

.main_movie_list_title {
    font-size: 20px;
    font-weight: 800;
}

.main_movie_list ul {
    display: flex;
    align-items: flex-start;
    justify-content: normal;
    overflow: hidden;
    padding: 15px 30px;
    position: relative;
}

.main_movie_list .prevBtn {
    background: #172036;
    color: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
    border: 0;
    z-index: 1;
    cursor: pointer;
}
.main_movie_list .nextBtn {
    background: #172036;
    color: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    right: -4%;
    transform: translateY(-50%);
    border: 0;
    z-index: 1;
    cursor: pointer;
}

.main_movie_list ul li {
    display: block;
    width: auto;
    margin-right: 5%;
    min-width: 200px;
}
.main_movie_list ul li .movie_title {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main_movie_list ul li .movie_date {
    font-size: 15px;
    color: #ddd;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}
.main_movie_list ul li .poster {
    display: block;
    border-radius: 15px;
    width: 100%;
    height: 300px;
    position: relative;
}
.main_movie_list ul li .poster .movie_hover {
    transition: 0.3 ease all;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0;
}
.main_movie_list ul li .poster .movie_hover a {
    text-align: center;
    line-height: 160%;
    transform: translateX(-100%);
    transition: 0.3s ease all;
}
.main_movie_list ul li .poster.mouseOn .movie_hover a {
    text-align: center;
    line-height: 160%;
    transform: translateX(0%);
    transition: 0.3s ease all;
}

.main_movie_list ul li .poster.mouseOn .movie_hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 1;
    transition: 0.3s ease all;
}

.main_movie_list ul li .poster img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.main_movie_list ul li .movie_average {
    position: absolute;
    bottom: -5%;
    left: -8%;
    background: #fff;
    border-radius: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    color: #333;
    border: 3px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom right, #81fbb8, #b5fffc, #28c76f);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.detail .banner {
    display: block;
    justify-content: normal;
    padding: 100px 50px;
    background-size: cover;
    position: relative;
    background-color: transparent;
}

.detail .banner::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 9, 9, 0.85);
    z-index: 1;
}
.detail .content {
    z-index: 3;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}
.detail .content .left {
    width: 30%;
}
.detail .content .left .imdb {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail .content .left .imdb a {
    cursor: pointer;
    background: rgb(245, 197, 24);
    color: #333;
    font-weight: 800;
    border-radius: 5px;
    padding: 3px;
    box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail .content .right {
    width: 67%;
}
.detail .content h2 {
    color: #fff;
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
}

.detail .d_similar {
    z-index: 2;
    position: relative;
}
.detail .content h3 {
    color: #fff;
    font-size: 16px;
    display: block;
    font-weight: 500;
    margin-bottom: 15px;
}
.detail .content h4 {
    color: #fff;
    font-size: 24px;
    display: block;
    margin-bottom: 15px;
}
.detail .content .right .d_title {
    display: flex;
    align-items: center;
    justify-content: normal;
}
.detail .content .right .d_title span {
    display: block;
    margin-left: 2%;
    font-weight: 500;
}
.detail .content .right .d_info {
    display: block;
    margin-bottom: 15px;
}
.detail .content .right .d_info .run_time {
    color: #fff;
    font-size: 16px;
}
.detail .content .right .d_trail {
    color: #fff;
}
.detail .content .right .d_average {
    border-radius: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    color: #333;
    border: 5px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom right, #81fbb8, #b5fffc, #28c76f);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #333;
}
.detail .content .right .d_trail p {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}
.detail .content .right .d_trail .d_tail_youtube {
    display: block;
    width: 100%;
}
.detail .content .right .d_trail .d_tail_youtube iframe {
    width: 100%;
    display: block;
}
.detail .content .right .d_overview {
    display: block;
    margin-top: 30px;
}
.detail .content .right .d_overview p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 5px;
}
.detail .content .right .d_overview span {
    color: #fff;
    line-height: 160%;
    font-size: 18px;
}
.detail .content {
}

.donut {
    width: 55px;
    height: 55px;
    display: block;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -5%;
    left: -8%;
}
.donut span.per {
    z-index: 2;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
}
.donut::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: #101322;
    transition: 0.3s ease all;
}

.detail_donut {
    width: 55px;
    height: 55px;
    display: block;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.detail_donut span.per {
    z-index: 2;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
}
.detail_donut::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: #101322;
}

.mypage {
    margin: 100px 0;
}

.list {
    margin-top: 60px;
}
.list .list_btn_wrap {
}
.list .list_btn_wrap a {
    border: 1px solid #ddd;
    padding: 5px 15px;
    box-sizing: border-box;
}
.list .list_btn_wrap a:hover {
    background: #ddd;
    color: #172036;
    transition: 0.2s ease all;
}
.list .list_content {
    margin-top: 15px;
}

.list .search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
}
.list .search .search_content {
    border: 1px solid #ddd;
    width: 40%;
    position: relative;
}
.list .search .search_content input {
    background: transparent;
    border: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 90%;
    color: #ddd;
    outline: none;
}
.list .search .search_content button {
    background: transparent;
    border: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 25px;
}
.list .list_content .list_head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: normal;
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    color: #999;
}
.list .list_content .list_head span {
    display: block;
    padding: 10px 0;
    color: #999;
}
.list .list_content .list_head span.lh1 {
    width: 10%;
    text-align: center;
}
.list .list_content .list_head span.lh2 {
    width: 70%;
    text-align: center;
}
.list .list_content .list_head span.lh3 {
    width: 20%;
    text-align: center;
}
.list .list_content .list_body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: normal;
}
.list .list_content .list_body span {
    padding: 10px 0;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    color: #999;
}
.list .list_content .list_body span.lb1 {
    width: 10%;
    text-align: center;
}
.list .list_content .list_body span.lb2 {
    width: 70%;
    color: #ddd;
}
.list .list_content .list_body span.lb2:hover {
    color: #ddd;
}
.list .list_content .list_body span.lb3 {
    width: 20%;
    text-align: center;
}

.write {
    margin-top: 100px;
}
.write .write_content {
    margin: 0 auto;
    width: 80%;
    display: block;
}
.write .write_content input {
    display: block;
    width: 100%;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}
.write .write_content textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 0;
    outline: 0;
}

.write .write_content .write_btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
    gap: 15px;
}
.write .write_content .write_btn button {
    background: transparent;
    border: 1px solid #ddd;
    color: #ddd;
    padding: 5px 15px;
    cursor: pointer;
}
.write .write_content .write_btn button:hover {
    background: #ddd;
    color: #172036;
    transition: 0.3s ease all;
}

.list_detail {
    margin-top: 100px;
}
.list_detail .ld_title {
    font-size: 46px;
    display: block;
    text-align: left;
    font-weight: 600;
    margin-bottom: 15px;
}
.list_detail .ld_dn {
    display: flex;
    align-items: center;
    justify-content: normal;
    gap: 5px;
}
.list_detail .ld_dn .ld_date {
}
.list_detail .ld_dn .ld_name {
}
.list_detail .ld_text {
    font-size: 18px;
    display: block;
    padding: 30px 0;
    white-space: pre-line;
}

.list_detail .ld_btn_wrap {
    display: flex;
    align-items: center;
    justify-content: normal;
    gap: 20px;
}
.list_detail .ld_btn_wrap button {
    padding: 5px 15px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #ddd;
    color: #ddd;
    cursor: pointer;
}

.main_movie_list2 {
    width: 100%;
    margin: 100px 0;
    position: relative;
}
.main_movie_list2 ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    gap: 8%;
}

.main_movie_list2 ul li {
    display: block;
    width: 17%;
    /* margin-left: 6%; */
    margin-bottom: 5%;
    min-width: 200px;
}
.main_movie_list2 ul li .movie_title {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main_movie_list2 ul li .movie_date {
    font-size: 15px;
    color: #ddd;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}
.main_movie_list2 ul li .poster {
    display: block;
    border-radius: 15px;
    width: 100%;
    height: 280px;
    position: relative;
}
.main_movie_list2 ul li .poster .movie_hover {
    transition: 0.3 ease all;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0;
}
.main_movie_list2 ul li .poster .movie_hover a {
    text-align: center;
    line-height: 160%;
    transform: translateX(-100%);
    transition: 0.3s ease all;
}
.main_movie_list2 ul li .poster.mouseOn .movie_hover a {
    text-align: center;
    line-height: 160%;
    transform: translateX(0%);
    transition: 0.3s ease all;
}

.main_movie_list2 ul li .poster.mouseOn .movie_hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 1;
    transition: 0.3s ease all;
}

.main_movie_list2 ul li .poster img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.main_movie_list2 ul li .movie_average {
    position: absolute;
    bottom: -5%;
    left: -8%;
    background: #fff;
    border-radius: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    color: #333;
    border: 3px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom right, #81fbb8, #b5fffc, #28c76f);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.skeleton-wrapper a {
    display: block;
    width: 100%;
    height: 100%;
}
.skeleton-wrapper {
    display: block;
    height: 300px;
}
.skeleton-wrapper .skeleton-title {
    background: #999;
    width: 50%;
    height: 20px;
    border-radius: 15px;
    display: block;
}
.skeleton-wrapper .skeleton-poster {
    background: #666;
    width: 100%;
    border-radius: 15px;
    height: 280px;
    display: block;
    margin-top: 15px;
}
